.hero {
    max-height: 100vh;
    width: auto;
    overflow: hidden;
}
.hero .hero-bg {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 100%;
}
.site-header {
    background-color: #fafafa;
}
.custom-header-media {
    overflow: hidden;
}
.custom-header-media:before {
    height: 33%;
}
.site-branding {
    bottom: 0;
    display: block;
    left: 0;
    height: auto;
    padding-top: 0;
    position: absolute;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .2), transparent);
}
.site-branding-text {
    display: inline-block;
    vertical-align: middle;
}
.wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding-left: 2em;
    padding-right: 2em;
}
.site-title a{
    color: white;
}
.site-description {
    color: white;
}