.loading-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.loading-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: white;
    border: double 10px #333;
}
